@model IEnumerable<Web_bao.Data.User>

@{
    ViewData["Title"] = "Teacher";
}
<style>
    .creat-student {
        margin-left: 20px;
    }

    .creat-studentt {
        margin-left: 10px;
    }
</style>
<h1 class="creat-studentt">Teacher</h1>

<p class="creat-student">
    <a asp-action="RegisterTeacher">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                @if (item.Status == "Study")
                {
                    <td class="btn bg-success">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else if (item.Status == "Leave school")
                {
                    <td class="bg-danger ">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else if (item.Status == "Graduated")
                {
                    <td class="bg-primary">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }

            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Major.Name)
            </td>
            <td>
                    <a asp-action="Editteacher" asp-route-id="@item.Id" class="btn bg-warning">Edit</a> |
                    <a asp-action="DeleteStudent" asp-route-id="@item.Id" class="btn bg-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
